<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
</head>
<body>
	<table cellspacing="0" cellpadding="0" width="700" align="center" bgcolor="#fff" border="0">
		<tr>
			<td bgcolor="{color}" align="center">
				<img style="margin-top:20px;margin-bottom:15px;width:200px;height:200px" src="{logo}"/>
			</td>
		</tr>
		<tr>
			<td align="center" style="padding: 10px 30px">
				<h3 style="margin-top:40px;font-size:16px;font-family: Verdana, Geneva, sans-serif;color:#374f54;font-weight:normal;">{line_1}</h3>
				<h3 style="margin-top:20px;font-size:16px;font-family: Verdana, Geneva, sans-serif;color:#374f54;font-weight:normal;">{line_2}</h3>
			</td>
		</tr>
		<tr>
			<td align="center">
				<table width="100%" style="padding: 10px 30px; margin-bottom: 40px" cellspacing="0" cellpadding="0">
					<tr>
						<td width="35%" style="padding: 10px; border-bottom:1px solid #e6e9ea; border-top:1px solid #e6e9ea; border-right:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:bold; text-transform: uppercase;">Campo</td>
						<td width="65%" style="padding: 10px; border-bottom:1px solid #e6e9ea; border-top:1px solid #e6e9ea; text-align: center; font-size:12px;font-family: Verdana, Geneva, sans-serif;color:#244e53;font-weight:bold; text-transform: uppercase;">Valor</td>
					</tr>
					{fields}
				</table>
			</td>
		</tr>
		<tr>
			<td align="center" bgcolor="{color}">
				<h3 style="font-family: Verdana, Geneva, sans-serif;color:#fff;font-weight:normal; font-size:12px;margin-top:10px;margin-bottom:10px">Esta é uma mensagem automática, por favor não responda.</h3>
			</td>
		</tr>
	</table>
</body>
</html>